
dist
crash.*.log
coverage.xml
.installed.cfg
cover/
*.tfvars
*.tfvars.json
.vite/
local_settings.py
parts/
.eslintcache
env/
marimo/_lsp/
ENV/
*.lcov
*$py.class
.Python
.ropeproject
venv.bak/
*.manifest
.mypy_cache/
target/
web_modules/
.cache
.npm
.pnp.*
instance/
**/.vitepress/cache
!.yarn/patches
logs
.streamlit/secrets.toml
override.tf.json
.terraform.tfstate.lock.info
.nuxt
cython_debug/
.webassets-cache
.pixi
env.bak/
__marimo__/
.yarn-integrity
composer.phar
celerybeat.pid
db.sqlite3-journal
.parcel-cache
*_override.tf.json
lib-cov
.pypirc
*.so
marimo/_static/
.cache/
*.py[codz]
.output
override.tf
*.rdb
.env.*
db.sqlite3
vite.config.js.timestamp-*
node_modules/
!.yarn/versions
.vscode-test
.next
__pycache__/
sdist/
npm-debug.log*
activemq-data/
dist/
*.spec
.terraform/
bower_components
.eggs/
*.sage.py
debug
.pdm-build/
rabbitmq/
MANIFEST
.env
pids
pip-log.txt
.firebase/
dmypy.json
.dmypy.json
*.py.cover
.lock-wscript
*.aof
.pdm-python
.vuepress/dist
.pytype/
lib64/
.scrapy
!.env.example
yarn-error.log*
share/python-wheels/
*.pid.lock
**/mutants.out*/
.pytest_cache/
*.log
var/
**/*.rs.bk
.hypothesis/
/site
*.pid
*.tsbuildinfo
.coverage
*.tfstate
!.yarn/releases
.serverless/
.stylelintcache
build/
out
*.mo
develop-eggs/
lerna-debug.log*
__pypackages__/
eggs/
yarn-debug.log*
.nyc_output
coverage
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.yarn/*
wheels/
.ipynb_checkpoints
*.tfstate.*
pip-delete-this-directory.txt
rabbitmq-data/
.coverage.*
profile_default/
docs/_build/
*.pdb
venv/
.terraformrc
target
build/Release
!.yarn/plugins
jspm_packages/
.nox/
crash.log
*.cover
celerybeat-schedule
.envrc
vite.config.ts.timestamp-*
/vendor/
.spyproject
.abstra/
*.egg-info/
.ruff_cache/
mnesia/
.pyre/
.venv
.temp
terraform.rc
.dynamodb/
*_override.tf
htmlcov/
.node_repl_history
.docusaurus
.grunt
*.egg
*.tgz
lib/
.fusebox/
**/.vitepress/dist
.tox/
ipython_config.py
*.pot
nosetests.xml
.tern-port
.spyderproject
!.yarn/sdks
downloads/
*.seed
.svelte-kit/
.pybuilder/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,composer,rust,terraform` for https://github.com/the-House-of-Anubis/empty-unit-of-infrastructural-area-module.git with  [UNIXUSAT=1764507278282]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
